{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row m-3">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-9">
            {% for friend in friends %}
            <div class="row m-5">
                <div class="w-25 ">
                    <img style="height:150px" src="media/{{friend.friend_user.profile.image}}" alt="">
                    <h6 class="mr-3">{{friend.friend_user.username}}</h6>
                </div>
                <div class="w-75 d-flex justify-content-end align-items-center">

                    <form action="{% url 'unfriend' friend.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary float-right " type="submit">Un-friend</button>
                    </form>
                </div>
            </div>
            <hr>
            {% endfor %}
            {% for friend in friend2 %}
            <div class="row m-5">
                <div class="w-25 ">
                    <img style="height:150px" src="media/{{friend.current_user.profile.image}}" alt="">
                    <h6 class="mr-3">{{friend.current_user.username}}</h6>
                </div>
                <div class="w-75 d-flex justify-content-end align-items-center">

                    <form action="{% url 'unfriend' friend.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary float-right " type="submit">Un-friend</button>
                    </form>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-lg-1">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="">News Feeds</a></li>
                    <li class="list-group-item"><a href="{% url 'mypost' %}">My post</a></li>
                    <li class="list-group-item "><a href="{% url 'findothers' %}">Find Others</a></li>
                    <li class="list-group-item"><a href="{% url 'getfriendrequest' %}">Friend Request</a></li>
                    <li class="list-group-item active"><a href="{% url 'friends' %}">Friends</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}