{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container"><br>
  <div class="row m-3">
    <div class="col-lg-1">
    </div>
    <!-- post center side  -->
    <div class="col-lg-9">
      <!-- post creation form starts  -->
      <form action="" method="POST" class="border p-3 w-75 d-block m-auto" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary mt-2" type="submit" name="Post" id="Post" value="Create Post">
      </form>
      <!-- post creation form starts  -->

      <!-- post rendering starts -->
      {% for post in Post reversed %}
      {% if post.postImage %}
      <br>
      <div class="card w-75 d-block m-auto p-2" style="width: 18rem;">
        <h4 class="p-2 text-uppercase">{{post.user}}</h4>
        <h6 style="margin-top: -5%;" class="float-right mr-2">{{post.postdate|timesince}} ago</h6><br>
        <img class="card-img-top" src="media/{{post.postImage}}" alt="Card image cap">
        <hr>
        <div class="card-body">
          <p class="card-text">{{ post.postText }}</p>
        </div>
        <form action="{% url 'updatelike' post.id %}">
          <div class="row">
            {% if request.user.profile in post.postLikes.all %}
              <button type="submit" class="btn btn-primary col-4 ml-3">Likes ({{post.postLikes.count}})</button>
            {% elif request.user.profile not in post.postLikes.all %}
              <button type="submit" class="btn btn-light col-4 ml-3 border">Likes ({{post.postLikes.count}})</button>
            {% endif %}
          </div>
        </form>
        <hr>
        <h6 class="mb-3"><b>Comments</b></h6>

        <!-- post comments  -->
        {% for comments in comment_Post %}
        {% if post.id == comments.post.id %}
        <h6 class="float-right">{{comments.commentdate|timesince}}</h6><br>
        <!-- delete icon function  -->
        {% if comments.user.username == request.user.username %}
        <a href="{% url 'delete_comment' comments.id %}"><i class="fa fa-trash fa-lg float-right mr-3 mt-3"
            aria-hidden="true"></i></a>
        {% endif %}
        <!-- delete icon function ends -->
        <div class="row">
          <div class="col-2 m-auto pr-3">
            <img class="border" style="height: 50px;" src="media/{{comments.user.profile.image}}" alt="">
            <h6>{{ comments.user.username }}</h6>
          </div>
          <div class="col-10 m-auto d-flex justify-content-lg-start">
            <h6>{{comments.commentText}}</h6>
          </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        <div class="row">
          <div class="w-25 ">
            <img class="d-block m-auto justify-content-center" style="height: 75px;"
              src="media/{{request.user.profile.image}}" alt="">
          </div>
          <div w-75>
            <!-- comment form  -->
            <form action="{% url 'addcomments' post.id %}" method="POST">
              {% csrf_token %}
              {{Commentform}}
              <!-- <input class="btn btn-primary mt-2" type="submit" name="PostComment" id="PostComment" value="Post Comment"> -->
              <button id="commentSubmit" data-post_id="{{post.id}}" class="btn btn-primary mt-2 commentSubmitted" type="button">Post Comment</button>
              <!-- onclick="submitComment(this)" -->
            </form>
          </div>
        </div>

      </div>
      {% elif post.postImage == "" %}
      <br>
      <div class="card w-75 d-block m-auto p-2" style="width: 18rem;">
        <h4 class="p-2 text-uppercase">{{post.user}}</h4>
        <div class="card-body">
          <p class="card-text">{{ post.postText }}</p>
        </div>
        <form action="{% url 'updatelike' post.id %}" >
          <div class="row">
            {% if request.user.profile in post.postLikes.all %}
              <button type="submit" class="btn btn-primary col-4 ml-3">Likes ({{post.postLikes.count}})</button>
            {% elif request.user.profile not in post.postLikes.all %}
              <button type="submit" class="btn btn-light col-4 ml-3 border">Likes ({{post.postLikes.count}})</button>
            {% endif %}
          </div>
        </form>
        <hr>
        <!-- post comments  -->
        <h6 class="mb-3"><b>Comments</b></h6>
        {% for comments in comment_Post %}
        {% if post.id == comments.post.id %}
        <span class="float-right">{{comments.commentdate|timesince}}</span><br>
        <!-- delete icon function  -->
        {% if comments.user.username == request.user.username %}
        <a href="{% url 'delete_comment' comments.id %}"><i class="fa fa-trash fa-lg float-right mr-3 mt-3"
            aria-hidden="true"></i></a>
        {% endif %}
        <!-- delete icon function ends -->
        <div class="row">
          <div class="col-2 m-auto pr-3">
            <img class="border" style="height: 50px;" src="media/{{comments.user.profile.image}}" alt="">
            <h6>{{ comments.user.username }}</h6>
          </div>
          <div class="col-10 m-auto d-flex justify-content-lg-start">
            {{comments.commentText}}
          </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        <div class="row">
          <div class="w-25 ">
            <img class="d-block m-auto justify-content-center" style="height: 75px;"
              src="media/{{request.user.profile.image}}" alt="">
          </div>
          <div w-75>
            <!-- comment form  -->
            <form action="{% url 'addcomments' post.id %}" method="POST">
              {% csrf_token %}
              {{Commentform}}
              <!-- <input class="btn btn-primary mt-2" type="submit" name="PostComment" id="PostComment" value="Post Comment"> -->
              <button id="commentSubmit" data-post_id="{{post.id}}" class="btn btn-primary mt-2 commentSubmitted" type="button">Post Comment</button>
              <!-- onclick="submitComment(this)"   -->
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- post rendering ends -->

    <!-- side bar  -->
    <div class="col-lg-1">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="">News Feeds</a></li>
          <li class="list-group-item"><a href="{% url 'mypost' %}">My post</a></li>
          <li class="list-group-item"><a href="{% url 'findothers' %}">Find Others</a></li>
          <li class="list-group-item"><a href="{% url 'getfriendrequest' %}">Friend Request</a></li>
          <li class="list-group-item"><a href="{% url 'friends' %}">Friends</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>
<script type="text/javascript">


var button = document.querySelectorAll(".commentSubmitted");
button.forEach(element => {
  element.addEventListener("click", (e) => {
    console.log(e.target.dataset.post_id);
    console.log(e.target.previousElementSibling.value)
    e.target.previousElementSibling.value = ""
})  
});


// function submitComment(e){
//   console.log(e.dataset.post_id);
//   data = e.closet('textarea')
//   console.log(data)
// }


// function getCookie(c_name) {
//   if (document.cookie.length > 0) {
//     c_start = document.cookie.indexOf(c_name + "=");
//     if (c_start != -1) {
//       c_start = c_start + c_name.length + 1;
//       c_end = document.cookie.indexOf(";", c_start);
//       if (c_end == -1) c_end = document.cookie.length;
//       return unescape(document.cookie.substring(c_start, c_end));
//     }
//   } 
// }
//   function saveData() {
//       $.ajax({
//           headers:{
//               "X-CSRFToken": getCookie("csrftoken")
//           },
//           url : "getdata/", // the endpoint
//           type : "POST", // http method
//           data : { 'name' : Name,'email': Email }, // data sent with the post request

//           // handle a successful response
//           success : function(data) {
//               // $('#post-text').val(''); // remove the value from the input
//               // alert(json)
              
//               console.log(data.email); // log the returned json to the console
//             // console.log("success"); // another sanity check
//           },

//           // handle a non-successful response
//           error : function(xhr,errmsg,err) {
//               $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
//                   " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom    
              
//               console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
//           }  
//       });
//   };

</script>
{% endblock content  %}