{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container"><br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <!-- post center side  -->
        <div class="col-lg-9 p-2">
            <!-- <form action="" method="POST" class="border p-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-primary mt-2" type="submit" name="Post" id="Post" value="Create Post">
                </form>  -->
            {% for post in Post %}
            {% if post.user == request.user %}
            {% if post.postImage %}
            <br>
            <div class="card w-75 d-block m-auto p-2" style="width: 18rem;">
                <h4 class="p-2 text-uppercase">{{post.user}}</h4>

                <img class="card-img-top" src="media/{{post.postImage}}" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <p class="card-text">{{ post.postText }}</p>
                </div>
                <form action="{% url 'updatelike' post.id %}">
                    <div class="row">
                      {% if request.user.profile in post.postLikes.all %}
                        <button type="submit" class="btn btn-primary col-4 ml-3">Likes({{post.postLikes.count}})</button>
                      {% elif request.user.profile not in post.postLikes.all %}
                        <button type="submit" class="btn btn-light col-4 ml-3 border">Likes({{post.postLikes.count}})</button>
                      {% endif %}
                    </div>
                </form>
                <hr>
                <!-- post comments  -->
                <h6 class="mb-3"><b>Comments</b></h6>
                {% for comments in comment_Post %}
                {% if post.id == comments.post.id %}
                <!-- delete icon function  -->
                {% if comments.user.username == request.user.username %}
                <a href="{% url 'delete_comment' comments.id %}"><i class="fa fa-trash fa-lg float-right"
                        aria-hidden="true"></i></a>
                {% endif %}
                <!-- delete icon function ends -->
                <div class="row">
                    <div class="col-2 m-auto pr-3">
                        <img class="border" style="height: 50px;" src="media/{{comments.user.profile.image}}" alt="">
                        <h6>{{ comments.user.username }}</h6>
                    </div>
                    <div class="col-10 m-auto d-flex justify-content-lg-start">
                        {{comments.commentText}}
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="w-25 ">
                      <img class="d-block m-auto justify-content-center" style="height: 75px;"
                        src="media/{{request.user.profile.image}}" alt="">
                    </div>
                    <div w-75>
                      <!-- comment form  -->
                      <form action="{% url 'addcomments' post.id %}" method="POST">
                        {% csrf_token %}
                        {{Commentform}}
                        <!-- <input class="btn btn-primary mt-2" type="submit" name="PostComment" id="PostComment" value="Post Comment"> -->
                        <button class="btn btn-primary mt-2" type="submit">Post Comment</button>
                      </form>
                    </div>
                  </div>
            </div>
            {% elif post.postImage == "" %}
            <br>
            <div class="card w-75 d-block m-auto p-2" style="width: 18rem;">
                <h4 class="p-2 text-uppercase">{{post.user}}</h4>
                <div class="card-body">
                    <p class="card-text">{{ post.postText }}</p>
                </div>
                <form action="{% url 'updatelike' post.id %}">
                    <div class="row">
                      {% if request.user.profile in post.postLikes.all %}
                        <button type="submit" class="btn btn-primary col-4 ml-3">Likes({{post.postLikes.count}})</button>
                      {% elif request.user.profile not in post.postLikes.all %}
                        <button type="submit" class="btn btn-light col-4 ml-3 border">Likes({{post.postLikes.count}})</button>
                      {% endif %}
                    </div>
                </form>
                <hr>
                <!-- post comments  -->
                <h6 class="mb-3"><b>Comments</b></h6>
                {% for comments in comment_Post %}
                {% if post.id == comments.post.id %}
                <!-- delete icon function  -->
                {% if comments.user.username == request.user.username %}
                <a href="{% url 'delete_comment' comments.id %}"><i class="fa fa-trash fa-lg float-right"
                        aria-hidden="true"></i></a>
                {% endif %}
                <!-- delete icon function ends -->
                <div class="row">
                    <div class="col-2 m-auto pr-3">
                        <img class="border" style="height: 50px;" src="media/{{comments.user.profile.image}}" alt="">
                        <h6>{{ comments.user.username }}</h6>
                    </div>
                    <div class="col-10 m-auto d-flex justify-content-lg-start">
                        {{comments.commentText}}
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="w-25 ">
                      <img class="d-block m-auto justify-content-center" style="height: 75px;"
                        src="media/{{request.user.profile.image}}" alt="">
                    </div>
                    <div w-75>
                      <!-- comment form  -->
                      <form action="{% url 'addcomments' post.id %}" method="POST">
                        {% csrf_token %}
                        {{Commentform}}
                        <!-- <input class="btn btn-primary mt-2" type="submit" name="PostComment" id="PostComment" value="Post Comment"> -->
                        <button class="btn btn-primary mt-2" type="submit">Post Comment</button>
                      </form>
                    </div>
                  </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}

        </div>

        <!-- side bar  -->
        <div class="col-lg-1">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="">News Feeds</a></li>
                    <li class="list-group-item active"><a href="{% url 'mypost' %}">My post</a></li>
                    <li class="list-group-item"><a href="{% url 'findothers' %}">Find Others</a></li>
                    <li class="list-group-item"><a href="{% url 'getfriendrequest' %}">Friend Request</a></li>
                    <li class="list-group-item"><a href="{% url 'getfriendrequest' %}">Friends</a></li>
                    <!-- <li class="list-group-item"><a href=""></a> Dapibus ac facilisis in</li>
                      <li class="list-group-item"><a href=""></a> Vestibulum at eros</li> <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item"><a href=""></a> Dapibus ac facilisis in</li>
                      <li class="list-group-item"><a href=""></a> Vestibulum at eros</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content  %}